<div class="row clearfix" ng-controller="app.views.about as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    About This System
                </h2>
            </div>
            <div class="body">
                <h3>What is this all about?</h3>
                <p>
                    This SPA (Single Page Application) was developed on ASP.NET Boilerplate MVC 5 and AngularJS. It consists on 4 CRUDs: Manufacturers, Products, Stock and Sales, which data are related.
                    This system's main purpose is to explore the features of ASP.NET Boilerplate.
                </p>
                <h3>What does it do?</h3>
                <p>
                    With it you can manage the stock of a simple business in order to keep track of products that have been sold or are out of stock.
                </p>
                <h3>How can I use it?</h3>
                <p>
                    Steps:
                    <ul>
                        <li>
                            <b>Add a Manufacturer:</b>
                        </li>
                        As a first step you must add one or more Manufacturers that make the products you have on your store or business,
                        cause later on, each new product will have a Assigned Manufacturer attached to it.
                        <br />
                        <br />
                        <li>
                            <b>Add a Product</b>
                        </li>
                        The next step is to register a new product that you work with on your business, on the creation modal you will see a required field
                        called "Assigned Manufacturer", thats why you first needed to add a Manufacturer
                        <br />
                        <br />
                        <li>
                            <b>Add a Stock</b>
                        </li>
                        Next you must know how many of those products you have on stock, to be used internally or even sold.
                        For this, head to the "Stock" page and add a new stock for the product telling how much it costs and how many you have.
                        <br />
                        <br />
                        <li>
                            <b>Sell</b>
                        </li>
                        Now that you have a stock you can register sales on the "Sales" page. All products with more than 0 on stock will be listed in alphabetical order
                        you can then select one of those and register how many of those you have sold. The stock will be automatically updated.
                        <br />
                        <br />
                        <li>
                            <b>Home</b>
                        </li>
                        With the listed steps you can already manage your business, but thats not all, if you also want a smart dashboard to keep track of changes, theres
                        a simple one where you can check some info about sales, products, stock, cash, most sold and more.
                        <br />
                    </ul>
                </p>
                <h3>Who made it and where can I contribute?</h3>
                <p>
                    This project was developed by Diego Penha. The source code is at:
                    <a href="https://github.com/diguifi/CRUDrelatedEntities" target="_blank">https://github.com/diguifi/CRUDrelatedEntities</a>
                </p>
            </div>

            <div class="header">
                <h2>
                    About This Template
                </h2>
            </div>
            <div class="body">
                <p>
                    This is a simple startup template based on ASP.NET Boilerplate framework and Module Zero.
                    If you need an enterprise startup project, check <a href="http://aspnetzero.com?ref=abptmpl" target="_blank">ASP.NET ZERO</a>.
                </p>

                <h3>What is ASP.NET Boilerplate?</h3>

                <p>
                    ASP.NET Boilerplate is an application framework built on latest <strong>ASP.NET Core</strong> framework.
                    It makes easy to use authorization, dependency injection, validation, exception handling, localization, logging, caching, background jobs and so on.
                    It's built on already familiar tools like Entity Framework, AutoMapper, Castle Windsor...
                </p>

                <p>
                    ASP.NET Boilerplate implements <strong>NLayer architecture</strong> (Domain, Application, Infrastructure and Presentation Layers)
                    and <strong>Domain Driven Design</strong> (Entities, Repositories, Domain/Application Services, DTO's...).
                    Also implements and provides a good infrastructure to implement common software development <strong>best practices</strong>.
                </p>

                <h3>What is Module Zero?</h3>

                <p>
                    ASP.NET Boilerplate framework is designed to be independent of any database
                    schema and to be as generic as possible. Therefore, It leaves some concepts
                    <strong>abstract</strong> and <strong>optional</strong> (like audit logging, permission and setting stores)
                    which requires some <strong>data store</strong>.
                </p>
                <p>
                    <strong>Module Zero </strong>implements all fundamental concepts of ASP.NET
                    Boilerplate framework such as <a href="http://www.aspnetboilerplate.com/Pages/Documents/Zero/Tenant-Management">tenant management</a> (<strong>multi-tenancy</strong>),
                    <a href="http://www.aspnetboilerplate.com/Pages/Documents/Zero/Role-Management">
                        role management
                    </a>, <a href="http://www.aspnetboilerplate.com/Pages/Documents/Zero/User-Management">user management</a>,
                    <a href="http://www.aspnetboilerplate.com/Pages/Documents/Authorization">authorization</a> (<a href="http://www.aspnetboilerplate.com/Pages/Documents/Zero/Permission-Management">
                        permission management
                    </a>),
                    <a href="http://www.aspnetboilerplate.com/Pages/Documents/Setting-Management">setting management</a>, <a href="http://www.aspnetboilerplate.com/Pages/Documents/Zero/Language-Management">
                        language management
                    </a>, <a href="http://www.aspnetboilerplate.com/Pages/Documents/Audit-Logging">audit logging</a>
                    and so on.
                </p>
                <p>
                    Module-Zero defines entities and implements <strong>domain logic</strong>
                    (domain layer) and leaves application and presentation layers to you.
                </p>

                <h4>Based on Microsoft ASP.NET Core Identity</h4>

                <p>
                    Module Zero is based on Microsoft's
                    <a href="https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity" target="_blank">ASP.NET Core Identity</a> library.
                    It extends user and role managers and implements user and role stores using generic repositories.
                </p>

                <h3>Documentation</h3>

                <ul>
                    <li>
                        <a href="https://aspnetboilerplate.com/Pages/Documents/Zero/Startup-Template">Documentation for this template</a>
                    </li>
                    <li>
                        <a href="http://www.aspnetboilerplate.com/Pages/Documents">ASP.NET Boilerplate documentation</a>
                    </li>
                </ul>

                <h3>Source code</h3>

                <p>
                    This template is developed open source on Github. You can contribute to the template.
                    <a href="https://github.com/aspnetboilerplate/module-zero-template" target="_blank">https://github.com/aspnetboilerplate/module-zero-template</a>
                </p>
            </div>
        </div>
    </div>
</div>